---
// src/layouts/Layout.astro
import "../styles/global.css";
import HistoryModal from "../components/HistoryModal.astro";
---
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <title>Deep Horizon - EPP Safety Monitor</title>
    <link rel="icon" href="/11.png" />
  </head>
  <body class="bg-slate-950 text-white overflow-x-hidden">
    <slot />
  </body>
  
  <HistoryModal />

</html>